/* ---------------------------- *\
			9 6 0 p x
\* ---------------------------- */

@media screen and ( max-width: 960px ) {

	.name-wrapper > .myname {
		font-size: 80px;
	}

	.white-section > .content-width {
		width: 78%;
	}

	.self-intro {
		> .per {
			height: 60px;
		}

		> .conclusion {
			margin-top: 70px;
		}
	}

	.content-width > .period-wrapper {
		width: 100%;
	}

	.pic-banner > .text {
		width: 40%;
		margin-right: 5%;
	}

	.grid-wrapper {
		width: 90%;
	}

	.per-grid {
		> .hey_bu {
			opacity: 1;
			height: 20%;
			top: auto;
			bottom: 0px;
		}

		&:hover {
			> .fakeborder.-top,
			> .fakeborder.-bottom,
			> .fakeborder.-right,
			> .fakeborder.-left {
				width: 0px;
				height: 0px;
			}
		}
	}

	.link-wrapper .link {
		&.-pinterest:hover,
		&.-github:hover,
		&.-medium:hover,
		&.-fb:hover {
			background-color: inherit;
		}
	}

}

/* ---------------------------- *\
			7 2 0 p x
\* ---------------------------- */

@media screen and ( max-width: 720px ) {

	.name-wrapper {
		width: 80%;

		> .myname {
			font-size: 60px;
		}

		> .tag-box {
			width: 75%;
		}
	}

	.pic-banner {
		&.-fixed {
			background-attachment: initial;
		}
		> .text {
			width: 50%;
		}
	}

	.white-section {
		> .section-title {
			width: 76%;
		}

		> .content-width {
			width: 90%;
		}
	}

	.content-width > .sub-title {
		width: 60%;
	}

	.per-grid {
		margin: 0px calc( (100% - 400px) / 4 ) 100px;
	}

}

/* ---------------------------- *\
			4 8 0 p x
\* ---------------------------- */

@media screen and ( max-width: 480px ) {

	._f-left {
		float: none;
	}

	.name-wrapper {
		> .myname {
			font-size: 40px;
		}

		> .tag-box {
			width: 95%;
		}
	}

	.white-section > .content-width {
		width: 94%;
	}

	.content-width > .sub-title {
		width: 88%;
	}

	.self-intro > .per {
		width: 90%;
		margin-top: 60px;
	}

	.time-period > .think {
		margin-left: 0px;
	}

	.quote-wrapper > .thinking {
		width: 90%;
	}

	.pic-banner > .text {
		width: 90%;
		margin: 0px auto;
	}

	.per-grid {
		margin: 0px calc( (100% - 200px) / 2 ) 100px;
	}

}
