body {
	
}

.title-font {
	font-family: 'Ubuntu';
}

#first-window {
	width: 100%;
	height: 100vh;
	background-image: url(../images/stripe.png);
}

#first-window .arrow {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -30px;
	background-image: url(../images/arrow_down.png);
	background-size: 60px 60px;
	cursor: pointer;

	-webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
			transition: all 0.7s;
}

#first-window .arrow:hover {
	bottom: 30px;
}

#name-wrapper {
	width: 70%;
	margin: 0px auto;
	text-align: center;
}

#name-wrapper .my_name {
	font-size: 120px;
	font-weight: 700;
	color: white;
	letter-spacing: 3px;

	-webkit-transition: all 2s;
	   -moz-transition: all 2s;
	     -o-transition: all 2s;
			transition: all 2s;
}

#name-wrapper .border-line {
	width: 0px;
	height: 2px;
	margin: 0px auto;
	background-color: #EA526F;

	-webkit-transition: all 2s;
	   -moz-transition: all 2s;
	     -o-transition: all 2s;
			transition: all 2s;
}

#name-wrapper.show .border-line {
	width: 100%;
}

#name-wrapper.show .my_name {
	color: #404040;
}

#name-wrapper .tag-box {
	width: 55%;
	margin: 0px auto;
	margin-top: 20px;
	opacity: 0;
}

#name-wrapper .tag-box.show {
	opacity: 1;
}

#name-wrapper .tag-box span {
	color: #a0a0a0;
}

#name-wrapper .tag-box .tag {
	color: #707070;
	letter-spacing: 1px;
}

#name-wrapper .tag-box .tag::before {
	content: "#";
}

#name-wrapper .tag-box .tag::after {
	content: " / ";
}

#name-wrapper .tag-box .tag:last-child::after {
	content: "";
}

.banner {
	width: 100%;
	height: 300px;
	background-image: url(../images/banner_2.jpg);
	background-size: cover;
	background-position: 50% 70%;
}

.banner.fixed {
	height: 400px;
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
}

.banner .text {
	width: 35%;
	color: white;
	margin-left: auto;
}

.banner .text h1 {
	font-weight: 400;
}

.banner .text h4 {
	font-weight: 600;
	margin-left: 2px;
}

.section {
	background-color: white;
}

.section .title {
	width: 66%;
	text-align: center;
	margin: 0px auto;
	padding: 100px 0px 50px 0px;
}

.section .title .border-line {
	width: 0px;
	height: 1px;
	margin: 0px auto;
	background-color: #c9c9c9;

	-webkit-transition: all 1.7s;
	   -moz-transition: all 1.7s;
	     -o-transition: all 1.7s;
			transition: all 1.7s;
}

.section .title h1 {
	color: white;
	font-weight: 700px;
	letter-spacing: 2px;

	-webkit-transition: all 1.7s;
	   -moz-transition: all 1.7s;
	     -o-transition: all 1.7s;
			transition: all 1.7s;
}

.section .title.show .border-line {
	width: 100%;
}

.section .title.show h1 {
	color: #404040;
}

.section .content {
	width: 66%;
	margin: 80px auto 200px auto;
}

.section .content .subtitle {
	width: 50%;
	margin: 0px auto;
	padding: 30px 0px;
	background-color: #f4f4f4;
	font-size: 16px;
	font-weight: 600;
	color: #707070;
	letter-spacing: 1px;
	text-align: center;
}

.section .content .subtitle .damn {
	font-size: 13px;
	margin-top: 5px;
	letter-spacing: 0px;
	color: #999;
}

.section .content #who_i_am {
	width: 100%;
	margin: 0px auto;
}

.section .content #who_i_am .per {
	width: 40%;
	margin: 100px 5% 0px 5%;
	letter-spacing: 3px;
	color: #303030;
}

.section .content #who_i_am .conclusion {
	margin-top: 100px;
	letter-spacing: 3px;
	font-size: 24px;
	font-weight: 600;
	color: #333333;
}

.section .content #who_i_am .conclusion.head {
	text-align: left;
}

.section .content #who_i_am .conclusion.end {
	text-align: right;
}

.section .content .divider {
	text-align: center;
	margin: 80px auto;
}

.section .content .divider img {
	width: 20px;
	margin: 0px 30px;
}

.section .content .period_wrapper {
	width: 74%;
	margin: 0px auto;
}

.section .content .period {
	margin: 100px 0px;
}

.section .content .period .time {
	font-size: 20px;
	color: #333333;
	margin-bottom: 15px;
}

.section .content .period .time::before {
	content: "# ";
}

.section .content .period .think {
	color: #666666;
	letter-spacing: 1px;
	line-height: 24px;
	margin-left: 30px;
}

.section .content .quote_wrapper {
	opacity: 0;

	-webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
			transition: all 0.7s;
}

.section .content .quote_wrapper.show {
	opacity: 1;
}

.section .content .quote {
	font-size: 20px;
	color: #707070;
}

.section .content .quote i {
	font-size: 36px;
	margin-right: 20px;
	color: #EA526F;
}

.section .content .thinking {
	width: 80%;
	margin: 50px auto;
	letter-spacing: 1px;
	line-height: 30px;
}

.section .grid-wrapper {
	width: 66%;
	max-width: 850px;
	margin: 80px auto 200px auto;
}

.section .grid {
	width: 33.3%;
	height: 200px;
	margin-bottom: 100px;
}

.section .grid .real-grid {
	width: 200px;
	height: 200px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.section .grid .real-grid .img {
	width: 100%;
	height: 100%;
	background-image: url(../images/portfolio.png);
	background-position: 0px 0px;
	background-size: 600px 600px;

	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	     -o-transition: all 0.5s;
			transition: all 0.5s;
}

.section .grid .real-grid:hover .img {
	background-position: -20px -20px;
	background-size: 720px 720px;

	-webkit-transform: rotate(3deg);
	   -moz-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		 -o-transform: rotate(3deg);
			transform: rotate(3deg);
}

.section .grid:nth-child(2) .real-grid .img {
	background-position: -200px 0px;
}

.section .grid:nth-child(2) .real-grid:hover .img {
	background-position: -260px -20px;
}

.section .grid:nth-child(3) .real-grid .img {
	background-position: -400px 0px;
}

.section .grid:nth-child(3) .real-grid:hover .img {
	background-position: -500px -20px;
}

.section .grid:nth-child(4) .real-grid .img {
	background-position: 0px -200px;
}

.section .grid:nth-child(4) .real-grid:hover .img {
	background-position: -20px -260px;
}

.section .grid:nth-child(5) .real-grid .img {
	background-position: -200px -200px;
}

.section .grid:nth-child(5) .real-grid:hover .img {
	background-position: -260px -260px;
}

.section .grid:nth-child(6) .real-grid .img {
	background-position: -400px -200px;
}

.section .grid:nth-child(6) .real-grid:hover .img {
	background-position: -500px -260px;
}

.section .grid:nth-child(7) .real-grid .img {
	background-position: 0px -400px;
}

.section .grid:nth-child(7) .real-grid:hover .img {
	background-position: -20px -500px;
}

.section .grid:nth-child(8) .real-grid .img {
	background-position: -200px -400px;
}

.section .grid:nth-child(8) .real-grid:hover .img {
	background-position: -260px -500px;
}

.section .grid .real-grid .hey_bu {
	width: 200px;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.75 );
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;

	-webkit-transition: all 0.7s;
	   -moz-transition: all 0.7s;
	     -o-transition: all 0.7s;
			transition: all 0.7s;
}

.section .grid .real-grid:hover .hey_bu {
	opacity: 1;
}

.section .grid .real-grid .hey_bu .name {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.section .grid .real-grid .fake_border {
	position: absolute;
	background-color: #4074A3;

	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
			transition: all 0.3s;
}

.section .grid .real-grid .fake_border.top {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}

.section .grid .real-grid .fake_border.right {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
}

.section .grid .real-grid .fake_border.bottom {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}

.section .grid .real-grid .fake_border.left {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
}

.section .grid .real-grid:hover .fake_border.top,
.section .grid .real-grid:hover .fake_border.bottom {
	height: 5px;
}

.section .grid .real-grid:hover .fake_border.right,
.section .grid .real-grid:hover .fake_border.left {
	width: 5px;
}

/* -------------------------- *\
			FOOTER
\* -------------------------- */

footer {
	width: 100%;
	padding: 100px 0px;
	background-color: #eaeaea;
}

footer .link {
	float: left;
	width: 25%;
	padding: 10px 0px;
	text-align: center;

	-webkit-transition: all 0.5s;
	   -moz-transition: all 0.5s;
	     -o-transition: all 0.5s;
			transition: all 0.5s;
}

footer .link.pinterest:hover {
	background-color: #BD081c;
}

footer .link.github:hover {
	background-color: #000000;
}

footer .link.medium:hover {
	background-color: #37E471;
}

footer .link.fb:hover {
	background-color: #3B5998;
}

footer .link i.fa {
	font-size: 26px;
	color: white;
}

footer .mail {
	font-size: 12px;
	color: #999999;
	text-align: center;
}

footer .copyright {
	font-size: 12px;
	color: #999999;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 10px;
}

/* ---------------------------- *\
			English
\* ---------------------------- */

.en .section .content .subtitle {
	font-size: 15px;
	font-weight: 400;
}

.en .section .content .subtitle .damn {
	display: none;
}

.en .section .content #who_i_am .conclusion {
	font-weight: 400;
}

/* ---------------------------- *\
			9 6 0 p x
\* ---------------------------- */

@media screen and ( max-width: 960px ) {

	#name-wrapper .my_name {
		font-size: 80px;
	}

	.section .content {
		width: 78%;
	}

	.section .content #who_i_am .conclusion {
		margin-top: 70px;
	}

	.section .content #who_i_am .per {
		height: 60px;
	}

	.section .content .period_wrapper {
		width: 100%;
	}

	.banner .text {
		width: 40%;
		margin-right: 5%;
	}

	.section .grid-wrapper {
		width: 90%;
	}

	.section .grid .real-grid .hey_bu {
		opacity: 1;
		height: 20%;
		top: auto;
		bottom: 0px;
	}

	.section .grid .real-grid:hover img {
		width: 100%;
		height: 100%;
		margin-top: 0px;
		margin-left: 0px;
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			 -o-transform: rotate(0deg);
				transform: rotate(0deg);
	}

	.section .grid .real-grid:hover .fake_border.top,
	.section .grid .real-grid:hover .fake_border.bottom,
	.section .grid .real-grid:hover .fake_border.right,
	.section .grid .real-grid:hover .fake_border.left {
		width: 0px;
		height: 0px;
	}

	footer .link {
		background-color: #c0c0c0;
	}

	footer .link.fb:hover,
	footer .link.pinterest:hover,
	footer .link.github:hover,
	footer .link.mail:hover {
		background-color: #c0c0c0;
	}

}



/* ---------------------------- *\
			7 2 0 p x
\* ---------------------------- */

@media screen and ( max-width: 720px ) {

	#name-wrapper {
		width: 80%;
	}

	#name-wrapper .my_name {
		font-size: 60px;
	}

	#name-wrapper .tag-box {
		width: 75%;
	}

	.banner .text {
		width: 50%;
	}

	.banner.fixed {
		background-attachment: initial;
	}

	.section .title {
		width: 76%;
	}

	.section .content {
		width: 90%;
	}

	.section .content .subtitle {
		width: 60%;
	}

	.section .grid {
		width: 50%;
	}

}



/* ---------------------------- *\
			4 8 0 p x
\* ---------------------------- */

@media screen and ( max-width: 480px ) {

	.f-left {
		float: none;
	}

	#name-wrapper .my_name {
		font-size: 40px;
	}

	#name-wrapper .tag-box {
		width: 95%;
	}

	.section .content {
		width: 94%;
	}

	.section .content .subtitle {
		width: 88%;
	}

	.section .content #who_i_am .per {
		width: 90%;
		margin-top: 60px;
	}

	.section .content .period .think {
		margin-left: 0px;
	}

	.section .content .thinking {
		width: 90%;
	}

	.banner .text {
		width: 90%;
		margin: 0px auto;
	}

	.section .grid {
		width: 100%;
	}

}

