footer

	.link-wrapper
		a(href='//www.pinterest.com/EddieWenTW/' target='_blank')
			.link.-pinterest
				i.fa.fa-pinterest-p
		a(href='//github.com/EddieWen-Taiwan' target='_blank')
			.link.-github
				i.fa.fa-github
		a(href='//medium.com/@eddiewen' target='_blank')
			.link.-medium
				i.fa.fa-medium
		a(href='//www.facebook.com/eddiewen.tw' target='_blank')
			.link.-fb
				i.fa.fa-facebook

	br._clear

	.copyright Copyright © 2016 by EddieWen. All rights reserved.
	.mail
		a(href='mailto:m20021991y@gmail.com' target='_blank') m20021991y@gmail.com
