footer

	.link-wrapper
		a.link.-pinterest(href='//www.pinterest.com/EddieWenTW/' target='_blank')
			i.fa.fa-pinterest-p
		a.link.-github(href='//github.com/eddiewentw' target='_blank')
			i.fa.fa-github
		a.link.-medium(href='//medium.com/@eddiewen' target='_blank')
			i.fa.fa-medium
		a.link.-fb(href='//www.facebook.com/eddiewen.tw' target='_blank')
			i.fa.fa-facebook

	br._clear

	.copyright Copyright © 2018 by EddieWen. All rights reserved.
	.mail
		a(href='mailto:eddiewen.tw@gmail.com', target='_blank') eddiewen.tw@gmail.com
