meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

meta(name='description', content='個人網站二點零 | EddieWen')
meta(name='author', content='溫奕書 / Eddie Wen')
meta(name='URL', content='http://eddiewen.me')
meta(name='image', content='http://eddiewen.me/static/website-img.png')

//- Open Graph
meta(property='og:site_name', content='Eddie is me.')
meta(property='og:title', content='Eddie is me.')
meta(property='og:description', content='個人網站二點零 | EddieWen')
meta(property='og:type', content='website')
meta(property='og:url', content='http://eddiewen.me')
meta(property='og:image', content='http://eddiewen.me/static/website-img.png')

title Eddie is me.
