footer {
	width: 100%;
	padding: 100px 0px;
	background-color: #EAEAEA;
}

.link-wrapper .link {
	float: left;
	width: 25%;
	padding: 10px 0px;
	text-align: center;

	transition: all 0.5s;
}

.link-wrapper .link.-pinterest:hover {
	background-color: #BD081C;
}

.link-wrapper .link.-github:hover {
	background-color: #000;
}

.link-wrapper .link.-medium:hover {
	background-color: #37E471;
}

.link-wrapper .link.-fb:hover {
	background-color: #3B5998;
}

.link-wrapper .link > i.fa {
	font-size: 26px;
	color: white;
}

footer > .mail {
	font-size: 12px;
	color: #999;
	text-align: center;
}

footer > .copyright {
	font-size: 12px;
	color: #999;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 10px;
}
