.grid-wrapper {
	width: 66%;
	max-width: 850px;
	margin: 80px auto 200px;
}

.grid-wrapper > .per-grid {
	width: 33.3%;
	height: 200px;	
}

.per-grid {
	margin-bottom: 100px;
}

.per-grid > .realgrid {
	width: 200px;
	height: 200px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.per-grid > .realgrid .hey_bu {
	width: 200px;
	height: 100%;
	background-color: rgba( 0, 0, 0, .75 );
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;

	transition: all .7s;
}

.per-grid > .realgrid:hover .hey_bu {
	opacity: 1;
}

.per-grid > .realgrid .hey_bu .name {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.per-grid > .realgrid .fakeborder {
	position: absolute;
	background-color: #4074A3;

	transition: all .3s;
}

.per-grid > .realgrid .fakeborder.-top {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}

.per-grid > .realgrid .fakeborder.-right {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
}

.per-grid > .realgrid .fakeborder.-bottom {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
}

.per-grid > .realgrid .fakeborder.-left {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
}

.per-grid > .realgrid:hover .fakeborder.-top,
.per-grid > .realgrid:hover .fakeborder.-bottom {
	height: 5px;
}

.per-grid > .realgrid:hover .fakeborder.-right,
.per-grid > .realgrid:hover .fakeborder.-left {
	width: 5px;
}

.per-grid > .realgrid .img {
	width: 100%;
	height: 100%;
	background-image: url(../../images/portfolio.png);
	background-position: 0px 0px;
	background-size: 600px 600px;

	transition: all .5s;
}

.per-grid > .realgrid:hover .img {
	background-position: -20px -20px;
	background-size: 720px 720px;

	-webkit-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
			transform: rotate(3deg);
}

.per-grid:nth-child(2) > .realgrid .img {
	background-position: -200px 0px;
}

.per-grid:nth-child(2) > .realgrid:hover .img {
	background-position: -260px -20px;
}

.per-grid:nth-child(3) > .realgrid .img {
	background-position: -400px 0px;
}

.per-grid:nth-child(3) > .realgrid:hover .img {
	background-position: -500px -20px;
}

.per-grid:nth-child(4) > .realgrid .img {
	background-position: 0px -200px;
}

.per-grid:nth-child(4) > .realgrid:hover .img {
	background-position: -20px -260px;
}

.per-grid:nth-child(5) > .realgrid .img {
	background-position: -200px -200px;
}

.per-grid:nth-child(5) > .realgrid:hover .img {
	background-position: -260px -260px;
}

.per-grid:nth-child(6) > .realgrid .img {
	background-position: -400px -200px;
}

.per-grid:nth-child(6) > .realgrid:hover .img {
	background-position: -500px -260px;
}

.per-grid:nth-child(7) > .realgrid .img {
	background-position: 0px -400px;
}

.per-grid:nth-child(7) > .realgrid:hover .img {
	background-position: -20px -500px;
}

.per-grid:nth-child(8) > .realgrid .img {
	background-position: -200px -400px;
}

.per-grid:nth-child(8) > .realgrid:hover .img {
	background-position: -260px -500px;
}
