.section-title {
	text-align: center;
	margin: 0px auto;
	padding: 100px 0px 50px 0px;
}

.white-section > .section-title {
	width: 66%;
}

.section-title::before,
.section-title::after {
	content: '';
	display: block;

	width: 0px;
	height: 1px;
	margin: 0px auto;
	background-color: #c9c9c9;

	transition: all 1.7s;
}

.section-title.-show::before,
.section-title.-show::after {
	width: 100%;
}

.section-title > .text {
	color: white;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;

	transition: all 1.7s;
}

.section-title.-show > .text {
	color: #404040;
}
