.sub-title {
	color: #707070;
	font-size: 16px;
	font-weight: 600;
	margin: 0px auto;
	padding: 30px 0px;
	background-color: #f4f4f4;
	letter-spacing: 1px;
	text-align: center;
}

.content-width > .sub-title {
	width: 50%;
}

.sub-title > .damn {
	font-size: 13px;
	margin-top: 5px;
	letter-spacing: 0px;
	color: #999;
}
