.tag-box {
	margin: 0px auto;
	margin-top: 20px;

	-webkit-animation-name: tagsFadeIn;
	animation-name: tagsFadeIn;
	-webkit-animation-duration: 2.5s;
	animation-duration: 2.5s;
}

.name-wrapper > .tag-box {
	width: 55%;
}

.tag-box > .tag {
	color: #707070;
	letter-spacing: 1px;
}

.tag-box > .tag::before {
	content: "#";
}

.tag-box > .tag::after {
	content: " / ";
}

.tag-box > .tag:last-child::after {
	content: "";
}
