.name-wrapper {
	width: 70%;
	margin: 0px auto;
	text-align: center;
}

.name-wrapper > .myname {
	font-size: 120px;
	font-weight: 700;
	color: white;
	letter-spacing: 3px;

	transition: all 2s;
}

.name-wrapper.-show > .myname {
	color: #404040;
}
